body {
  background-color: #696969;
  width: 100%;
} 

a{
  color : white;
}

a:hover{
    color : purple;
}

h1{
  color : #F5B7B1;
  text-align : center;
  font-size : 400%;
  font-family : Garamond, serif;
}

h2{
  color : #F5B7B1;
  text-align : center;
  font-size : 300%;
font-family : Garamond, serif;
}

h3{
  color : white;
  text-align : center;
  font-size : 150%;
  text-decoration: underline;
}

#menu-deroulant {
/* on centre le menu dans la page */
    display : flex;
  flex-wrap:wrap;
  justify-content: center;
  justify-content : space-evenly;
}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size : 200%;
}


#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
    z-index:1024;
}

#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    border : solid white;
    background : grey;
    box-shadow : 0px 1px 2px black;
    background-size:1000px 200px;

}
#menu-deroulant a {
    text-decoration: none;
    display: flex;
    color : white;
}

#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    font-size : 100%;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#menu-deroulant li li:hover a{
color:purple;
}

#imageprinc{
  display:flex;
  justify-content : center;
}

#imageprinc img{
  width:80%;
  opacity : 0.8;
}

#uneimage{
  display : flex;
  justify-content : center;
}

#uneimage img{
  width : 50%;
}

.flotte {
  float:left;
  width : 30%;
  margin : 1em;
}

p{
   text-align : justify;
    margin : 1em;
   color : white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgba(105,105,105,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: purple;
  text-decoration: none;
}

	